In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
imp

In [2]:
df = pd.read_csv('data/csv_files/weatherAUS_new.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [ ]:
# divide and iterate
# clean and preprocess
# model and dump

In [1]:
import math
import os

def get_dir_size(path='.', names=[], sizes=[], indent=0):
    total = 0
    with os.scandir(path) as it:
        for entry in it:
            if entry.is_file():
                total += entry.stat().st_size
            elif entry.is_dir():
                sub_total, subnames, subsizes = get_dir_size(entry.path, [], [], indent+1)
                total += sub_total
                names.extend(subnames)
                sizes.extend(subsizes)
    order = int(math.log(total+1, 1000))
    total_str = f'{total/1000**order:.2f}'[:4].strip('.')
    names.insert(0, f'{"  "*indent}{path.split("/")[-1]}' )
    sizes.insert(0, f'{total_str} {" KMGT"[order]}B')
    return total, names, sizes

def print_folder_sizes(path='.', min_size='K'):
    '''set min_size={'M', 'G', or 'T'} to only show bigger folders'''
    _, names, sizes = get_dir_size(path)
    max_len = len(max(names, key=len))
    for name, size in zip(names, sizes):
        if ' KMGT'.index(size[-2]) >= ' KMGT'.index(min_size):
            print(name, ' '*(max_len-len(name)), size.rjust(7))

print_folder_sizes('./app/data')

data               403 MB
  images          3.46 MB
  final_models     360 MB
  csv_files       39.2 MB
  fitted_scalers  50.0 KB